{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        
        <header><h1>Techno Eye </h1></header>
        <br><h4>SMART COLLEGE BUS WITH IoT BASED FEE MANAGEMENT</h4>
        <h6>- Team Techno Eye</h6>
        <br><br><p>Transport is one of the major department in every educational institution. Our project aims at improving its standard through digitilization.</p>
        <br><br><br>
        <header><b>Vision:</b></header>
        <pre>
            To make ease of  fee collection
            To ensure healthy relationship
            To provide emotional comfort to parents
        </pre><br>
        <header><b>Contact :</b></header><br>
        <pre> 
            Ranjith R 
            9790272576  
            rjranjith29@gmail.com
        </pre>             
    </div>
{% endblock content %}
