{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        Techno Eye - Logo

        SMART COLLEGE BUS WITH IoT BASED FEE MANAGEMENT
                                          - Team Techno Eye
        Transport is one of the major department in every educational institution. Our project aims at improving its standard through digitilization.
        
        Vision:
        To make ease of fee collection
        To ensure healthy relationship
        To provide emotional comfort to parents
        
        Contact : 
        Ranjith R 
        9790272576  
        rjranjith29@gmail.com        
    </div>
{% endblock content %}


