{% extends 'base.html' %}

{% block head_title %}Attendance System{% endblock %}

{% block content %}
    <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
        <!--Left Col-->
        <div class="row">    </div>
        <div class="row">
            <div class="col-lg-6">

                <h1 class="px-10 mx-auto">Attendance System</h1>
                <div >
                    <a href="{% url 'register' %}" class="text-end btn btn-outline-primary my-2 my-sm-0">Register</a> 
                </div>    
            </div>    
            <div class="col-lg-6">
                <img src="media/images/welcome.jpg" alt="Welcome" width="100%" height="100%" >                
            </div>    
        
        </div>
        <!--Right Col-->
    </div>
{% endblock %}
