<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <h1> 
        <a class="navbar-brand badge badge-primary" href="/">Attendance System</a>
    </h1>
        <div class="navbar-nav flex-row flex-wrap ms-md-auto">
            <div>
                <a href="{% url 'attendance' %}" class="text-end btn btn-outline-primary my-2 my-sm-0">Attendance</a>
            </div>
                {% if request.user.is_authenticated %}
                <div>
                    {% if request.user.is_staff %}
                        <a href="{% url 'attendance-today' %}" class="text-end btn btn-outline-primary my-2 my-sm-0">
                            Today's Attendance
                        </a>
                        <a href="{% url 'profilelist' %}" class="text-end btn btn-outline-primary my-2 my-sm-0">
                            Profiles
                        </a> 
                    {% endif %}    
                        <a href="{% url 'logout' %}" class="text-end btn btn-outline-primary my-2 my-sm-0">Logout</a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'login' %}" class="text-end btn btn-outline-primary my-2 my-sm-0">Login</a>
                </div>
            {% endif %}
            <div>
                <a href="{% url 'register' %}" class="text-end btn btn-outline-primary my-2 my-sm-0">Register</a>
            </div>
            <div> 
                <a href="{% url 'aboutus' %}" class="text-end btn btn-outline-primary my-2 my-sm-0">About us</a>
            </div>
        </div>


    </div>
  </nav>


    

    <div class="collapse navbar-collapse" id="navbarColor03">

    
    </div>
  </nav>
