<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <h1> 
        <a class="navbar-brand badge badge-primary" href="/">Attendence System</a>
    </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    
        <div class="navbar-nav flex-row flex-wrap ms-md-auto">
                <a href="{% url 'attendance' %}" class="btn btn-primary btn-lg">Attendance</a>
          {% if request.user.is_authenticated %}
                <div>
                    {% if request.user.is_staff %}
                        <a href="{% url 'attendance-today' %}" class="text-end btn btn-outline-primary my-2 my-sm-0">
                            Today's Attendance
                        </a>
                        <a href="{% url 'profilelist' %}" class="text-end btn btn-outline-primary my-2 my-sm-0">
                            Profiles
                        </a> 
                    {% endif %}    
                        <a href="{% url 'logout' %}" class="btn btn-light">Logout</a>
                </div>
            {% else %}
                <div>
                    <a href="{% url 'login' %}" class="btn btn-light">Login</a>
                    <a href="{% url 'register' %}" class="btn btn-light">Register</a>
                </div>
            {% endif %}
            <div> 
                <a href="{% url 'aboutus' %}" class="btn btn-light">About us</a>
            </div>
        </div>


    </div>
  </nav>


    

    <div class="collapse navbar-collapse" id="navbarColor03">

    
    </div>
  </nav>
